*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
}

.navbar{
    background: #131313;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar_container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 110px-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar_logo{
    background-color: rgb(138, 43, 226);
    background-image: linear-gradient(to top, #5C258D 0%, #4389A2 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.navbar_menu{
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar_item{
    height: 80px;
}

.navbar_links{
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease-in-out;
}

.btn{
    font-size: 1.8rem;
    background: #FC466B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3F5EFB, #FC466B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 20px 60px;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
}

.navbar_links:hover{
    color: #3F5EFB;
    transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 1100px){
    .navbar_container{
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        padding: 0;
    }

    .navbar_menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;
    }

    .navbar_menu.active{
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 60vh;
        font-size: 1.6rem;
    }

    #navbar_logo{
            padding-left: 25px;
        }
        .navbar_toggle .bar{
            width: 25px;
            height: 3px;
            margin: 5px auto;
            transition: all 0.3s ease-in-out;
            background: white;
        }

        .navbar_item{
            width: 100%;
        }

        .navbar_links{
            text-align: center;
            padding: 2rem;
            width: 100%;
            display: table;
        }



        #mobile-menu{
            position: absolute;
            top: 20%;
            right: 5%;
            transform: translate(5%, 20% );
        }

        .navbar_toggle .bar{
            display: block;
            cursor: pointer;
        }

        #mobile-menu.is-active .bar:nth-child(2){
            opacity: 0;
        }

        #mobile-menu.is-active .bar:nth-child(1){
            transform: translateY(8px) rotate(45deg);
        }

        #mobile-menu.is-active .bar:nth-child(3){
            transform: translateY(-8px) rotate(-45deg);
        }
}

/* Hero Section */
.hero{
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #141414, #000000);
    background: linear-gradient(to right, #141414, #000000); 
    padding: 200px 0;
}

.hero_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:  0 auto;
    height: 90%;
    text-align: center;
    padding: 30px;
}

.hero_heading{
    font-size: 80px;
    margin-bottom: 24px;
    color: whitesmoke;
}

.hero_heading span{
    background: #5C258D;  /* fallback for old browsers */
    background-image: linear-gradient(to right, #4389A2, #5C258D);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;

}

.hero_description{
    font-size: 60px;
     background: #5C258D;  /* fallback for old browsers */
    background-image: linear-gradient(to right, #dc2424, #4a569d);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin-bottom: 24px;
}

.highlight{
    border-bottom: 4px solid rgb(132, 0, 255);
}

@media  screen and (max-width: 1110px) {
    .hero_heading{
        font-size: 60px;
    }

    .hero_description{
        font-size: 40px;
    }
}

/* About Section */
.main{
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #000000, #141414 );
    background: linear-gradient(to right, #000000, #141414); 
    padding: 10rem 0;
}

.main_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 90%;
    z-index: 1;
    width: 100%;
    max-width: 1110px;
    padding: 0 50px;
}

.main_content{
    color: #fff;
    width: 100%;
}
.main_content h2{
    font-size: 4rem;
    background-color: rgb(138, 43, 226);
    background-image: linear-gradient(to top, #5C258D 0%, #4389A2 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-transform: uppercase;
    margin-bottom: 32px;
}

#cv{
    color: whitesmoke;
    width: 125px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease-in-out;

}

#cv:hover{
    color: #3F5EFB;
    transition: all 0.3s ease-in-out;
    font-size: 1.3rem;
}

.main_content p{
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
    font-size: 25px;
    background: #5C258D;  /* fallback for old browsers */
    background-image: linear-gradient(to right, #dc2424, #4a569d);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.btn:hover{
    background: #4a569d;
    transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.main_img-container{
    text-align: center;
}

.main_img-card{
    margin: 10px;
    height: 500px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    background-image: linear-gradient(to right,#00dbde 0%, #fc00ff 100%);
}

.fa-layer-group{
    font-size: 14rem;
}


.card2{
    background: #020024;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%); 
}

.skills ul{
    display: flex;
    text-align: right;
    gap: 3rem;
    font-size: 1.3rem;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    opacity: 0.8;
    align-items: baseline;
}

.skills ul li{
    display: flex;
    gap: 0.5rem;
    font-size: 1.2rem;
    transition:0.3s ease-in-out;
}

.skills ul li:hover{
    transform: translateX(10px);
    cursor: none;
}



/* Mobile REsponsiveness */

@media screen and (max-width: 1100px) {
    .main_container{
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin:0 auto;
        height: 90%;

    }

    .main_img-container{
        display: flex;
        justify-content: center;
    }

    .main_img-card{
        height: 425px;
        width: 425px;
    }

    .main_content{
        text-align: center;
        margin-bottom: 4rem;
    }

    .main_content h2{
        font-size: 2.5rem;
        margin-top: 2rem;
    }

    .main_content p{
        font-size: 1.5rem;
    }
    .skills{
        display: flex;
        justify-content: center;
        font-size: 1rem;
        gap: 10px;
    }
}

@media  screen and (max-width: 480px) {
    .main_img-card{
        width: 250px;
        height: 250px;
    }

    .fa-users, .fa-layer-group{
        font-size: 4rem;
    }

    .main_content h2{
        font-size: 2rem;
    }

    .main_content p{
        font-size: 2rem;
    }

    .btn{
        padding: 12px 36px;
        margin: 2.5rem 0;
    }

}

/* Projects Sections */

.projects{
     background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #141414, #000000);
    background: linear-gradient(to right, #141414, #000000); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 10rem 0;
}

.projects h1{
    background-color: rgb(138, 43, 226);
    background-image: linear-gradient(to top, #5C258D 0%, #4389A2 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin-bottom: 5rem;
    font-size: 2.5rem;
}

.projects_wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.projects_card{
    margin: 10px;
    height: 425px;
    width: 300px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:#fff;
    background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
    transition: 0.3s ease-in;
}

.projects_card:nth-child(2){
    background: #ff00cc;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #333399, #ff00cc);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #333399, #ff00cc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.projects_card:nth-child(3){
    background: #42275a;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #734b6d, #42275a);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #734b6d, #42275a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.projects_card:nth-child(4){
   background: #FF5F6D;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFC371, #FF5F6D);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFC371, #FF5F6D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.projects_card h2{
    text-align: center;
}

.projects_card p{
text-align: center;
margin-top: 24px;
font-size: 20px;
}

.github_link{
    display: flex;
    justify-content: center;
    margin-top: 16px;
    color: #fff;
    font-size: 2rem;
}

.github_link:hover{
    color: #131313;
    font-size: 2.5rem;
    cursor:pointer;
}

.projects_card:hover{
    transform: scale(1.075);
    transition: 0.3s ease-in;
    cursor: pointer;
}

@media screen and (max-width: 1300px) {
    .projects_wrapper{
        grid-template-columns: 1fr 1fr;
    }

}

@media screen and (max-width: 768px){
    .projects_wrapper{
        grid-template-columns: 1fr;
    }
}

/* footer */

footer{
    background-color: #131313;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.footer_container{
    width:100%;
    padding: 70px 30px 20px;
}

.social_icons{
    display: flex;
    justify-content: center;
}

.social_icons a{
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    background-color: white;
    border-radius: 50%;
}

.social_icons a i {
    font-size: 2rem;
    color: #000000;
    opacity: 0.9;
}

.social_icons a:hover{
   background: #6578e6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #d858e4, #70dceb);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #d858e4, #70dceb);
    transition: 0.5s;
}

.social_icons a:hover i{
    color:white;
    transition: 0.5s;
}

.footerBottom{
    background-color: #000000;
    padding: 20px;
    text-align: center;
}

.footerBottom p{
    color: white;
}

.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin:0 5px;
    background-color: rgb(138, 43, 226);
    background-image: linear-gradient(to right, #30e72a 0%, #c8f55f 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

@media  screen and (max-width:820px) {
    .social_icons:{
        font-size: 1rem;
    }
}
